*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #4c6ef5, #15aabf);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  padding: 30px;
  text-align: center;
}

.login-box h2 {
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4c6ef5;
  box-shadow: 0 0 5px rgba(76,110,245,0.3);
}

button {
  width: 100%;
  background:green;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s;
}

button:hover {
  background: #364fc7;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.footer-text a {
  color: #4c6ef5;
  text-decoration: none;
  font-weight: 500;
}

.footer-text a:hover {
  text-decoration: underline;
}